<section>
    <h2 class='title is-3 mx-2'>{{title}}</h2>
    <div class='card'>
        {{post}}
    </div>
    {{#each comments as |element|}}
    <div class='card'>
        <div>
            {{user.user}}
            {{createdAt}}
        </div>
        <div>
            {{comment}}
        </div>
    </div>
    {{/each}}
</section>